body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background: linear-gradient(to right, #ece9e6, #ffffff);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #333;
}

header {
  background-color: #3a3a3a;
  color: white;
  padding: 1rem 0;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;
}

.content-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.container {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 150px 0;
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.options-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 4px;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #3a3a3a;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

input[type="range"] {
  width: 300px;
  margin-bottom: 0.5rem;
}

#length-value {
  font-size: 1rem;
  color: #666;
}

input[type="text"] {
  padding: 0.5rem;
  font-size: 1rem;
  margin-top: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  text-align: center;
}

input[type="text"]:focus {
  border-color: #3a3a3a;
  box-shadow: 0 0 8px rgba(58, 58, 58, 0.2);
  outline: none;
}

.btn {
  padding: 0.5rem 1rem;
  background-color: #3a3a3a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
}

.btn:hover {
  background-color: #4a4a4a;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: #3a3a3a;
  color: white;
  text-align: center;
  padding: 0.5rem 0;
  font-size: 0.8rem;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
  bottom: 0;
  margin-top: auto; /* Ensures footer is pushed to bottom */
}

@media (max-width: 768px) {
  .content-wrapper {
    padding: 1rem;
  }

  input[type="range"],
  input[type="text"],
  .btn {
    width: 100%;
  }
}
